[core]
	excludesfile = /Users/danielcardona/.gitignore_global
	editor= nvim
	pager = delta
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[user]
	name = Daniel Cardona Rojas
	email = d.cardona.rojas@gmail.com

[interactive]
    diffFilter = delta --color-only

[delta]
    features = decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[rebase]
  autosquash = true
  updateRefs = true

[alias]
	c = commit
	ca = commit --amend --no-edit
	co = checkout
	branch = branch -r
	s = status
	r = rebase
	lg = log -15 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    clone-for-worktrees = "!sh $HOME/.config/scripts/git_clone_for_worktrees.sh"
    reauthor =  "!f() { git commit --amend --no-edit --no-verify --author \"Daniel Cardona Rojas <$1>\"; }; f"
    setemail =  "!f() { git config --local user.email <$1>; }; f"
    oldest-ancestor = !zsh -c 'diff -u <(git rev-list --first-parent "${1:-main}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
    remote-diff = !zsh -c ~/.config/scripts/remote_diff.sh -
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
[init]
	defaultBranch = main
